body {background-image:url("st1.png");
      background-size:150% 150%;
      width:700px;
      margin-right: auto;
      margin-left : auto;}
p  { font-size :20px;}
marquee {font-size :30px;
         color:red;}
    