body  {background-size:100% 100%;
       background-repeat:no-repeat;
       font-weight: bold;
       background-clip:border-box;
       padding:0 0 0 3%;}


h1    {color: black;  font-size: 50px ;}
h2    {color: #FFFFFF; background-color: blue;}
h3    {color: red;  font-size: 40px ;} 
h4    {color: blue; font-size: 20px ;}
h5    {color: green; font-size: 20px ;}
h6    {color: powderblue; font-size: 30px ;}
h7    {color: red; font-size: 40px ;}
p     {color: BLACK; font-size: 30px; font-style: normal;}
ul    {color: gold; font; font-size: large; list-style-type: decima